html {
    background-color: #1f1914 !important;
}

body {
    background-color: #1f1914 !important;
    color: #e3ba85 !important;
}
#body {
    background-color: #bda357 !important;
    color: #0d192e !important;
}
